html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}
.sButton {
  width:150px;
  height:150px;
   background-size: cover;
   background-color: blue;
   color: burlywood;
   
  border-radius: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  
}